<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diccionario Panameño</title>
</head>
<body>
    <h1>Diccionario Panameño</h1>
    <ul>
        <li><a href="/agregar">Agregar Nueva Palabra</a></li>
        <li><a href="/editar">Editar Palabra</a></li>
        <li><a href="/eliminar">Eliminar Palabra</a></li>
        <li><a href="/listado">Ver Listado de Palabras</a></li>
        <li><a href="/buscar">Buscar Significado de Palabra</a></li>
    </ul>
</body>
</html>
